<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background-color: #000000;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        img {
            max-width: 100%;
            height: auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    <!-- <img src="https://i.ytimg.com/vi/O7pEJR-V5tA/maxresdefault.jpg" alt="" srcset=""> -->
    <img src="{% url 'stream_video' %}" />
</body>
</html>
